@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url(images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8f95ae;
}


/*TOP STYLE*/
.top{
  background-image: url(images/pattern-circles.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 185px;
  padding: 80px;
  text-align: center;
}

.top h1{
  color: #2b3254;
}

.top p{
  font-weight: 500;
}
/* bottom section */
.bottom{
  background-color: white;
  padding: 5%;
  border-radius: 10px;
}
.heading-bottom{
  display: grid;
  gap: 20px;
}
.heading-bottom h2{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.heading-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dollar-container h3{
  font-size: 40px;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #2b3254;
}
.dollar-container span {
  font-size: 18px;
  color: #8f95ae;
  font-weight: 600;
}

.input-container{
  background-color: aqua;
  border-radius: 10px;
  height: 10px;
  position: relative;
}
.box{
  position: absolute;
  left: 50%;
  bottom: -16px;
  background-color: rgb(76, 180, 180);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
